.Nav {
    text-align: center;
    margin-top:5px;
    height: 1px;
}

.Nav button {
    transition: text-decoration 0.5s ease, background-color 0.5s ease;
    padding-top:10px;
    border: none;
    border-bottom-style: solid;
    border-color:  white;
    outline: none;
    width:15%;
    background: none;
    color:white;
    font-size:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Nav button:hover {
    background-color: #1e1f1c;
}

@media only screen and (max-width:600px) {

    .Nav button{
        width:50%;
    }

}